data/rel18
wandb
training.log
save_phi2_ft_lora
finetuning/__pycache__/*.pyc
nohup.out
preds.csv
data/__pycache__/*.pyc
.ragatouille
Miniconda3-latest-Linux-x86_64.sh
data/rel18.rar
output_results.csv
failed_questions.txt
failed_questions_og.txt
data/*_full_forms.txt
bm25_retriever_150
