# Installs custom fork of ragatouille without faiss-cpu
git+https://github.com/teddyk251/RAGatouille.git@main

# Other dependencies
docx==0.2.4
huggingface_hub==0.23.4
peft==0.11.1
numpy>=1.26.4
python_docx==1.1.2
python_Levenshtein==0.25.1
python_Levenshtein==0.25.1
torch==2.3.1
tqdm==4.66.4
transformers==4.42.3
docx2txt
xformers
wandb
